.main {
  min-height: 90vh;
  background: rgb(210, 105, 30);
  background: linear-gradient(
    0deg,
    rgba(210, 105, 30, 1) 0%,
    rgba(255, 238, 211, 1) 100%
  );
  color: black;
  overflow: hidden;
}

.nav {
  height: 10px;
  background-color: #d2691e;
}

.navHome {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
}

.image {
  margin-left: 15px;
  margin-top: 5px;
  width: 130px;
  height: 80px;
}

.logo {
  flex-grow: 1;
}

.navigation {
  order: 2;
}

.navigation ul {
  display: flex;
  width: 100%;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 2.5em;
  text-align: center;
  transition: 0.5s;
}

.navigation ul li:hover a .icon {
  transform: translateY(-20px);
  color: chocolate;
}

.navigation ul li a .text {
  position: absolute;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li:hover a .text {
  opacity: 1;
  transform: translateY(10px);
  font-weight: 800;
  font-size: medium;
}

.poza1 {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.paragraf1 {
  font-size: 4.5em;
  font-weight: 500;
  text-align: left;
  margin-top: -60vh;
  margin-left: 5%;
  color: white;
}

.div1 {
  display: grid;
}

.div2 {
  background-color: white;
  display: flex;
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
}

.flipCard {
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  width: 250px;
  height: 200px;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipCardFront {
  color: black;
}

.flipCardBack {
  transform: rotateY(180deg);
}

.titlul2 {
  font-size: 4em;
  font-weight: 500;
  font-style: oblique;
  margin-top: 50px;
}

.paragraf2 {
  font: 2em sans-serif;
  margin: 20px;
}

.arrow2 {
  font-size: 5em;
  font-weight: 600;
}

.flipCardBack ol {
  font: bold;
  font-size: large;
  font-weight: 500;
  color: black;
  text-align: left;
  margin-left: 15px;
}

.flipCardBack ul {
  font-size: medium;
  font-weight: 500;
  color: black;
  text-align: left;
  margin-left: 15px;
}

.poza2 {
  width: 50%;
  height: 50vh;
  overflow: hidden;
}

.div3 {
  width: 100%;
  height: 44vh;
  margin-top: 40px;
}

.titlul3 {
  text-align: center;
  padding: 30px;
}

.cardVreme {
  display: flex;
  justify-content: center;
  background-color: rgb(215, 215, 215);
}

.oras {
  margin: 10px;
  font-size: 2em;
  text-align: center;
  border-right: 3px solid black;
  padding-right: 30px;
  padding: 30px;
}
.orasI {
  margin: 10px;
  font-size: 2em;
  text-align: center;
  padding-right: 30px;
  padding: 30px;
}

.cardVreme:hover {
  background-color: white;
}
